{
  "presets": [
    [
      "@babel/preset-env",
      {
        "debug": true,
        "targets": {
          "ie": "11"
        }
      }
    ]
  ],
  "plugins": [["polyfill-corejs3", { "method": "usage-global" }]]
}
