:root {
  --black: #121212;
  --light: #f6f6f6;
  --blue: #0052cc;
  --blue-dark: #3d00cc;
  --blue-light: #4bc0c8;
  --pink: #c779d0;
  --orange: #050404;
  --gray-1: #eaeaea;

  --graient-default: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);

  --primary: var(--blue);
  --secondary: var(--blue-dark);

  
  --bg: var(--light);
  --text-on-bg: var(--black);
  --text-on-primary: var(--light);
  --text-on-secondary: var(--light);
  --border-color: var(--gray-1);
  --border: 1px solid var(--border-color);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif !important;
  color: var(--text-on-bg);
  background-color: var(--bg)
}

/* Utilities */
.text-center {
  text-align: center;
}
.font-weight-normal {
  font-weight: 400;
}
.font-weight-medium {
  font-weight: 500;
}
.font-weight-semi-bold {
  font-weight: 600;
}
.font-weight-bold {
  font-weight: 700;
}

.button {
  background-color: black;
  color: white;
  border-radius: 4px;
  border: 1px solid black;
}

/*
------ 
Navbar
------ 
*/

.navbar {
  background-color: black;
  opacity: 0.7;
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 1px solid red;
  position: sticky;
  top: 0;
  z-index: 1;
}

ul {
  margin: 0;
  display:flex;
  list-style: none;
  padding: 20px;
}

.navItem {
color: red;
padding: 30px 30px;
text-decoration: none;
}

.toggle-collapse {
  background: transparent;
  float: right;
  display: none;
  color: red;
  border: none;
  font-size: 40px;
  padding: 10px;
  cursor: pointer;
}

@media (max-width: 644px) {
  .toggle-collapse {
    display: inline-block;
  }
  ul {
    display: block;
  }
  .navbar-collapse {
    width: 100%;
    overflow: hidden;
    text-align: center;
    height: 0px;
    transition: all 499ms ease;
  }
}
.collapse {
  height: 50%;
}

