:root {
  --black: #121212;
  --light: #f6f6f6;
  --blue: #0052cc;
  --blue-dark: #3d00cc;
  --blue-light: #4bc0c8;
  --pink: #c779d0;
  --orange: #050404;
  --gray-1: #eaeaea;

  --graient-default: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);

  --primary: var(--blue);
  --secondary: var(--blue-dark);

  --bg: var(--light);
  --text-on-bg: var(--black);
  --text-on-primary: var(--light);
  --text-on-secondary: var(--light);
  --border-color: var(--gray-1);
  --border: 1px solid var(--border-color);

  --font: 'Inter', sans-serif !important;
  --easing: cubic-bezier(0.4, 0, 0.2, 1);
  --shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif !important;
  font-family: var(--font);
  color: var(--text-on-bg);
  background-color: var(--bg);
}

/* Utilities */
.text-center {
  text-align: center;
}
.font-weight-normal {
  font-weight: 400;
}
.font-weight-medium {
  font-weight: 500;
}
.font-weight-semi-bold {
  font-weight: 600;
}
.font-weight-bold {
  font-weight: 700;
}

.button {
  margin: 0;
  padding: 0;
  padding: 0.6rem 1rem;
  font-weight: 500;
  outline: none;
  font-family: var(--font);
  background-color: #121212;
  background-color: var(--black);
  color: white;
  border-radius: 4px;
  border: 1px solid #121212;
  border: 1px solid var(--black);
  transition: all 0.2s var(--easing);
  transition-property: background-color, color;
}

.button:hover {
  background-color: var(--bg);
  color: var(--text-on-bg);
}

.button-primary {
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--text-on-primary);
}
.button-primary:hover {
  color: var(--primary);
}
